<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <script src="jquery-3.3.1.min.js"></script>
    <script src="owlcarousel/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <style>
video:hover
{box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);}
</style>
    <script>
    $( document ).ready(function() {
        $('.owl-carousel').owlCarousel({
    loop:true,
    display:"initial",
    margin:100,
    nav:true,
    autoplay:true,
    autoplayTimeout:5000,
    autoplayHoverPause:true,
    responsive:{
        0:{
            items:1
        }
    }
});

        });


    </script>
</head>
<body>
<div align="center">
    <img src="poster.jpg">
</div>
<br/>
<div align="center" class="owl-carousel owl-theme">
<div class="item">
    <video preload="metadata" width="300" height="200" controls>
        <source src="/video/samp1" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>
</div>
    <div class="item">
        <video preload="metadata" width="300" height="200" controls>
        <source src="/video/samp2" type="video/mp4">
        Your browser does not support HTML5 video.
        </video>
    </div>
    <div class="item">
        <video preload="metadata" width="300" height="200" controls>
        <source src="/video/samp3" type="video/mp4">
        Your browser does not support HTML5 video.
        </video>
    </div>
</div>
<p>
    HOME
</p>

</body>
</html>