<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>

    <link rel="stylesheet" href="owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css" href="new.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style>
video:hover
{box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);}
</style>
</head>
<body>
<div align="center">
    <img src="poster.jpg">
</div>
<br/>
<div id="videolist" align="center" class="owl-carousel owl-theme" >
</div>
<p>
    HOME
</p>
<script src="https://code.jquery.com/jquery-2.2.4.js" integrity="sha256-iT6Q9iMJYuQiMWNd9lDyBUStIq/8PuOW33aOqmvFpqI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
<script src="owlcarousel/owl.carousel.min.js"></script>
<script>
    $( document ).ready(function() {

    //send get for videolist
    var xhr = new XMLHttpRequest();
    xhr.open("GET", '/all/video', true);
    xhr.onload = function () {
        if (xhr.readyState == 4 && xhr.status == "200") {
            var videolistdata = JSON.parse(xhr.responseText);
            //video list has fileName ,categories,url
            //video list has fileName ,categories,url
            for(var i = 0; i<videolistdata.length; i++){
              cat=catcreate(videolistdata[i].categories)
     $("#videolist").append(" <div class='item'> " +
     "<video preload='metadata' width='300' height='200' controls> " +
      "   <source src='"+videolistdata[i].url+"' type='video/mp4'> " +
       " Your browser does not support HTML5 video. " +
    "</video> "+cat+" </div>  ");
 }
            $('.owl-carousel').owlCarousel({
    loop:true,
    display:"initial",
    margin:100,
    nav:true,
    autoplay:true,
    autoplayTimeout:5000,
    autoplayHoverPause:true,
    responsive:{
        0:{
            items:1
        }
    }
});


            alert("Videos loaded");
        }
        else {
            console.error('error');
        }
    }
    console.log()
    xhr.send();
});

function catcreate(categories){
  var element="";
  for(var i=0;i<categories.length;i++)
  {
    var cat=categories[i];
    console.log(cat);
    element=element.concat("<span class='label label-primary' >"+cat+"</span>");
    console.log(element);
  }
    return element;
}


</script>


</body>
</html>